-# in _company_form.html.haml (the partial)

- unless @company.errors.empty?
  #warning
    Errors prevented this company from being #{controller.action_name}d:
    %ul
      - @company.errors.full_messages.each do |error|
        %li= error

%table
  %tr
    %td= label :company, :compagnia, 'Compagnia'
    %td= text_field :company, 'compagnia'

  %tr
    %td= label :company, :area, 'Area'
    - if controller.action_name == "edit"
      %td= text_field :company, 'area'
    - else
      %td= text_field :company, :area,  :value => "#{@selected_area}"

  %tr
    %td= label :company, :autore, 'Autore'
    %td= text_field :company, :autore, :value => "#{request.env['REMOTE_USER']}", :disabled => true

  %tr
    %td= label :company, :provvigione, 'Provvigioni'
    %td= text_field :company, 'provvigione'

  %tr
    %td= label :company, :aggiornamento, 'Ultimo Aggiornamento'
    %td= date_select :company, :aggiornamento, :max_years_allowed => 10
    -#%td= text_field :company, :aggiornamento
    -#, :id => "datepicker"

  %tr
    %td= label :company, :canale_1, 'Canale 1'
    %td= text_field :company, 'canale_1'

  %tr
    %td= label :company, :canale_2, 'Canale 2'
    %td= text_field :company, 'canale_2'

  %tr
    %td= label :company, :interlocutore, 'Interlocutore'
    %td= text_field :company, 'interlocutore'

  %tr
    %td= label :company, :note_operative, 'Note Operative'
    %td= text_field :company, 'note_operative'

  %tr
    %td= label :company, :portale, 'Portale'
    -#%td= text_field :company, 'portale'
    %td= check_box :company, 'portale', :class => "checkbox"

  %tr
    %td= label :company, :premio_minimo, 'Premio Minimo'
    %td= text_field :company, 'premio_minimo'

  %tr
    %td= label :company, :scheda_condizioni, 'Scheda Condizioni'
    %td= text_field :company, 'scheda_condizioni'

  %tr
    %td= label :company, :questionari, 'Questionari Nostri'
    %td= text_field :company, 'questionari'

  %tr
    %td= label :company, :brochure, 'Brochure ns o Compagnia'
    %td= text_field :company, 'brochure'

  %tr
    %td= label :company, :nota_informativa, 'Nota Informativa'
    %td= text_field :company, 'nota_informativa'

  %tr
    %td
      %div#button
        = submit_tag 'Save'
-#  - if controller.action_name == "edit"
    %td
      = button_to 'Delete', company_path(@company), :method => :delete, :confirm => 'Are you sure?'
