-# in _company_form.html.haml (the partial)
-#= form_tag company_path(@company), :method => :put, :multipart => :true do

- unless @company.errors.empty?
  #warning
    Errors prevented this company from being #{controller.action_name}d:
    %ul
      - @company.errors.full_messages.each do |error|
        %li= error

-#= form_for @company, :url => company_path(@company), :method => :put, :html => {:multipart => true} do |form|

%table
  %tr
    %td= label :company, :compagnia, 'Compagnia'
    %td= text_field :company, 'compagnia'

  %tr
    %td= label :company, :area, 'Area'
    - if controller.action_name == "edit"
      %td= text_field :company, 'area'
    - else
      %td= text_field :company, :area,  :value => "#{@selected_area}"

  %tr
    %td= label :company, :autore, 'Autore'
    %td= text_field :company, :autore, :value => "#{request.env['REMOTE_USER']}", :disabled => true

  %tr
    %td= label :company, :provvigione, 'Provvigioni'
    %td= text_field :company, 'provvigione'

  %tr
    %td= label :company, :aggiornamento, 'Ultimo Aggiornamento'
    %td= date_select :company, :aggiornamento, :max_years_allowed => 10
    -#%td= text_field :company, :aggiornamento
    -#, :id => "datepicker"

  %tr
    %td= label :company, :canale_1, 'Canale 1'
    %td= text_field :company, 'canale_1'

  %tr
    %td= label :company, :canale_2, 'Canale 2'
    %td= text_field :company, 'canale_2'

  %tr
    %td= label :company, :interlocutore, 'Interlocutore'
    %td= text_field :company, 'interlocutore'
 
  %tr
    %td= label :company, :note_operative, 'Note Operative'
    %td= text_area :company, 'note_operative'

  %tr
    %td= label :company, :portale, 'Portale'
    %td= url_field :company, 'portale'

  %tr
    %td= label :company, :credenziali, 'Credenziali'
    %td= text_area :company, 'credenziali'

  %tr
    %td= label :company, :premio_minimo, 'Premio Minimo'
    %td= text_field :company, 'premio_minimo'

  %tr
    %td= label :company, :scheda_condizioni, 'Scheda Condizioni'
    -unless @company.scheda_condizioni.url.empty?
      %td= link_to "#{@company.scheda_condizioni.original_filename}",  "#{@company.scheda_condizioni.url}", :target => "_blank" 
      %td= link_to 'Elimina', remove_company_scheda_condizioni_path, :class => :button, class: 'btn btn-danger custom', data: { confirm: "Are you sure?" }
      -#%td= label :company, :scheda_condizioni, 'Sostituisci'
    -else
      %td= file_field :company, :scheda_condizioni

  %tr
    %td= label :company, :questionari, 'Questionari Compagnia'
    -unless @company.questionari.url.empty?
      %td= link_to "#{@company.questionari.original_filename}",  "#{@company.questionari.url}", :target => "_blank" 
      %td= link_to 'Elimina', remove_company_questionari_path, :class => :button, class: 'btn btn-danger custom', data: { confirm: "Are you sure?" }
      -#%td= label :company, :questionari, 'Sostituisci'
    -else  
      %td= file_field :company, 'questionari'

  %tr
    %td= label :company, :brochure, 'Brochure Compagnia'
    -unless @company.brochure.url.empty?
      %td= link_to "#{@company.brochure.original_filename}",  "#{@company.brochure.url}", :target => "_blank" 
      %td= link_to 'Elimina', remove_company_brochure_path, :class => :button, class: 'btn btn-danger custom', data: { confirm: "Are you sure?" }
      -#%td= label :company, :brochure, 'Sostituisci'
    -else
      %td= file_field :company, 'brochure'

  %tr
    %td= label :company, :nota_informativa, 'Nota Informativa'
    -unless @company.nota_informativa.url.empty?
      %td= link_to "#{@company.nota_informativa.original_filename}",  "#{@company.nota_informativa.url}", :target => "_blank" 
      %td= link_to 'Elimina', remove_company_nota_informativa_path, :class => :button, class: 'btn btn-danger custom', data: { confirm: "Are you sure?" }
      -#%td= label :company, :nota_informativa, 'Sostituisci'
    -else
      %td= file_field :company, 'nota_informativa'

  %tr
    %td
      %div#button
        = submit_tag 'Salva', class: 'btn btn-primary custom'

-#  %tr
    %td
      %div#button
        = button_to 'Annulla', companies_path(:area_filter => @selected_area), :method => :get
-#  - if controller.action_name == "edit"
    %td
      = button_to 'Delete', company_path(@company), :method => :delete, :confirm => 'Are you sure?'
