-# in _company_form.html.haml (the partial)



= label :company, :compagnia, 'Compagnia'
= text_field :company, 'compagnia'

= label :company, :provvigione, 'Provvigioni'
= text_field :company, 'provvigione'

= label :company, :autore, 'Autore'
= text_field :comapny, 'autore'





