-# in _energy_form.html.haml (the partial)



= label :energy, :compagnia, 'Compagnia'
= text_field :energy, 'compagnia'

= label :energy, :provvigione, 'Provvigioni'
= text_field :energy, 'provvigione'

= label :energy, :autore, 'Autore'
= text_field :energy, 'autore'





