-# in _editcompany_form.html.haml (the partial)

- unless @company.errors.empty?
  #warning
    Errors prevented this company from being #{controller.action_name}d:
    %ul
      - @company.errors.full_messages.each do |error|
        %li= error

= label :company, :compagnia, 'Compagnia'
= text_field :company, 'compagnia'

-#= label :company, :area, 'Area'
-#= select :company, :area, Company.all_areas
= label :company, :area, 'Area'
= text_field :company, :area,  :value => "#{@company.area}"

= label :company, :autore, 'Autore'
= text_field :company, :autore, :value => "#{request.env['REMOTE_USER']}"
-#= text_field :company, 'autore'

= label :company, :provvigione, 'Provvigioni'
= text_field :company, 'provvigione'

= label :company, :aggiornamento, 'Ultimo Aggiornamento'
= date_select :company, :aggiornamento, :max_years_allowed => 10

= label :company, :canale_1, 'Canale 1'
= text_field :company, 'canale_1'

= label :company, :canale_2, 'Canale 2'
= text_field :company, 'canale_2'

= label :company, :interlocutore, 'Interlocutore'
= text_field :company, 'interlocutore'

= label :company, :note_operative, 'Note Operative'
= text_field :company, 'note_operative'

= label :company, :portale, 'Portale'
= text_field :company, 'portale'

= label :company, :premio_minimo, 'Premio Minimo'
= text_field :company, 'premio_minimo'

= label :company, :scheda_condizioni, 'Scheda Condizioni'
= text_field :company, 'scheda_condizioni'

= label :company, :questionari, 'Questionari Nostri'
= text_field :company, 'questionari'

= label :company, :brochure, 'Brochure ns o Compagnia'
= text_field :company, 'brochure'

= label :company, :nota_informativa, 'Nota Informativa'
= text_field :company, 'nota_informativa'

-#= label :company, :created_at, 'Created at'
-#= text_field :company, 'created_at'

-#= label :company, :updated_at, 'Updated at'
-#= text_field :company, 'updated_at'

%div#button
  = submit_tag 'Update'
