.nav
  .container
    .row
      .col-md-5
        -#%img{:src =>"https://www.brokerstudio.it/wp-sito/wp-content/themes/shotzz/sprites/i/logo-broker.png"}
      .col-md-5
        %p Welcome to <span class="knowhow">Knowhow</span>, #{request.env['REMOTE_USER']} 
      .col-md-2
        %p= link_to 'Back to companies list', companies_path(:area_filter => @selected_area)

%h2 Edit Company

= form_tag company_path(@company), :method => :put do
  = render :partial => 'company_form'

= button_to 'Delete', company_path(@company), :method => :delete, :confirm => 'Are you sure?'


 



