-#  This file is app/views/companies/index.html.haml
%h1 All Companies

%table#companies
  %thead
    %tr
      %th Compagnia
      %th Area
      %th Provvigioni
      %th Autore
      %th Ultimo Aggiornamento
      %th Canale 1
      %th Canale 2
      %th Interlocutore

  %tbody
    - @companies.each do |company|
      %tr
        -#%td= company.compagnia
        %td#more_info= link_to "#{company.compagnia}", company_path(company)
        %td= company.area
        %td= company.provvigione
        %td= company.autore
        %td= company.aggiornamento

= link_to 'Add new company', new_company_path
