-#  This file is app/views/companies/index.html.haml
.header
  =render :partial => 'header_form'

.table-content
  .container-fluid
    .row
      .col-md-2.text-left
        - if @selected_area != "all_areas"
          %p= button_to 'Modifica area', editarea_path(@selected_company), :method => :get, class: 'btn btn-primary btn-sm custom-view'
      .col-md-7.text-left
        %p= button_to 'Nuova compagnia', new_company_path(params), :method => :get, class: 'btn btn-primary btn-sm custom-view'
      .col-md-3.text-left
        %p= button_to 'Modifica compagnia', edit_company_path(@selected_company), :method => :get, class: 'btn btn-primary btn-sm custom-view'
  
    .row
      .col-md-2
        .area-table
          %table#area.stripe.compact
            %thead
              %tr
                %th Area
            %tbody.rowlink{"data-link" => "row"} 
              - @all_areas.sort.each do |area| 
                -#%tr{:onclick => "window.location.href = '" + companies_path(:area_filter => "#{area}") + "'"}
                %tr
                  -#%td{:class => ((@selected_area == "#{area}")? "hilite": nil)}= area
                  %td{:class => ((@selected_area == "#{area}")? "hilite" : nil)}= link_to "#{area}", companies_path(:area_filter => "#{area}")
        %p
        %p= link_to "Tutte le aree", companies_path(:area_filter => "all_areas"), :class => :button, class: 'btn btn-primary btn-sm custom-view'
     
      .col-md-7
        .company-table
          -#%table{"data-cache" => "false", "data-height" => "599", "data-toggle" => "table"}
          %table#company.stripe.compact
            %thead
              %tr
                - if @selected_area == "all_areas"
                  %th Area
                %th Compagnia
                %th Provvigioni
                %th Ultimo Aggiornamento
                %th Canale 1
                %th Interlocutore
                %th Portale
                %th Premio Minimo
  
            %tbody.rowlink{"data-link" => "row"}
              - @selected_companies.each do |company|
                -#%tr{:class => ( ( (@selected_company_id == "#{company.id}") || (@selected_company_id == company.id) )? "hilite" : nil), :onclick => "window.location.href = '"
                -#+  companies_path(:area_filter => "#{company.area}", :company_id => "#{company.id}") + "'"}
                %tr{:class => ( ( (@selected_company_id == "#{company.id}") || (@selected_company_id == company.id) )? "hilite" : nil)}
                  - if @selected_area == "all_areas"
                    %td= company.area
                  %td= link_to "#{company.compagnia}", companies_path(:area_filter => "#{company.area}", :company_id => "#{company.id}")                 
                  %td= company.provvigione 
                  %td= company.aggiornamento
                  %td= company.canale_1
                  %td= company.interlocutore
                  %td= link_to "#{company.portale}", "#{company.portale}", :target => "_blank"
                  %td= company.premio_minimo
  
      .col-md-3
        .details-table
          -#%table{"data-cache" => "false", "data-height" => "599", "data-toggle" => "table"} 
          %table#details.stripe.compact
            %thead
              %tr
                %th='Details'
                %th=' '
                
            %tbody.rowlink{"data-link" => "row"} 
              %tr
                %td='Compagnia:' 
                %td= @selected_company.compagnia
              %tr
                %td='Area:' 
                %td= @selected_company.area  
              %tr       
                %td='Provvigioni:'
                %td= @selected_company.provvigione
              %tr
                %td='Autore:'
                %td= @selected_company.autore
              %tr
                %td='Ultimo Aggiornamento:'
                %td= @selected_company.aggiornamento
              %tr
                %td='Canale 1:'
                %td= @selected_company.canale_1
              %tr
                %td='Canale 2:'
                %td= @selected_company.canale_2
              %tr
                %td='Interlocutore:'
                %td= @selected_company.interlocutore
              %tr
                %td='Note Operative:'
                %td= @selected_company.note_operative
              %tr
                %td='Portale:'
                %td= @selected_company.portale
              %tr
                %td='Credenziali:'
                %td= @selected_company.credenziali
              %tr
                %td='Premio Minimo:'
                %td= @selected_company.premio_minimo
              %tr
                %td='Scheda Condizioni:'
                %td= link_to @selected_company.scheda_condizioni.original_filename,  @selected_company.scheda_condizioni.url, :target => "_blank"
              %tr
                %td='Questionario Compagnia 1:'
                %td= link_to @selected_company.questionariocomp1.original_filename,  @selected_company.questionariocomp1.url, :target => "_blank"
              %tr
                %td='Questionario Compagnia 2:'
                %td= link_to @selected_company.questionariocomp2.original_filename,  @selected_company.questionariocomp2.url, :target => "_blank"
              %tr
                %td='Questionario Brokerstudio 1:'
                %td= link_to @selected_company.questionariobs1.original_filename,  @selected_company.questionariobs1.url, :target => "_blank"
              %tr
                %td='Questionario Brokerstudio 2:'
                %td= link_to @selected_company.questionariobs2.original_filename,  @selected_company.questionariobs2.url, :target => "_blank"
              %tr
                %td='Brochure Compagnia:'
                %td= link_to @selected_company.brochure.original_filename,  @selected_company.brochure.url, :target => "_blank"
              %tr
                %td='Brochure Brokerstudio:'
                %td= link_to @selected_company.brochurebs.original_filename,  @selected_company.brochurebs.url, :target => "_blank"  
              %tr
                %td='Nota Informativa:'
                %td= link_to @selected_company.nota_informativa.original_filename,  @selected_company.nota_informativa.url, :target => "_blank"

 
.footer
  .container
    .row
      .col-md-12.text-center
        %p
          %p © 2014 Brokerstudio Srl · Via San Pier Tommaso, 18/3 – 40139 Bologna – P.I. 02110861206 - RUIB000126973
    %p
