-#  This file is app/views/companies/index.html.haml
%h1 All Companies

= form_tag companies_path, :id => "areas_form", :method => :get do
  Include:
  - @all_areas.each do |area|
    = area
    = check_box_tag "areas[#{area}]", 1, if params[:areas]; params[:areas].include?(area); else true; end, :id => "areas_#{area}"
    -#= check_box_tag "areas[#{area}]", 1, @selected_areas.include?(area), :id => "areas_#{area}"
  = submit_tag 'Refresh', :id => "areas_submit"

-# Radio buttons
%div#left
  = form_tag companies_path, :id => "areas_form", :method => :get do 
    %p Select area
    %div{align: "left"}
    %br/
    -#%input{checked: "checked", name: "area_filter", type: "radio", value: "Energy"}/
    %input{name: "area_filter", type: "radio", value: "Energy"}/
    Energy
    %br
    %input{name: "area_filter", type: "radio", value: "Technology"}/
    Technology
    %br
    %input{name: "area_filter", type: "radio", value: "Liability"}/
    Liability
    %br
    %input{name: "area_filter", type: "radio", value: "Cauzione"}/
    Cauzione
    %br
    %br
    %input{type: "submit" }/ 

%table#companies
  %thead
    %tr
      %th Edit
      %th Compagnia
      %th Area
      %th Provvigioni
      %th Autore
      %th Ultimo Aggiornamento
      %th Canale 1
      %th Canale 2
      %th Interlocutore

  %tbody
    - @companies.each do |company|
      %tr
        %td= link_to 'Edit', edit_company_path(company)
        -#%td= link_to 'Edit', edit_company_path(company)
        %td= company.compagnia
        -#%td#more_info= link_to "#{company.compagnia}", company_path(company)
        %td= company.area
        %td= company.provvigione
        %td= company.autore
        %td= company.aggiornamento

= link_to 'Add new company', new_company_path
