-# in app/views/companies/show.html.haml

%h1 Details 
-#%h2 Details about #{@company.compagnia}

%ul#details
   %li
      Company:
      = @company.compagnia
   %li
      Area:
      = @company.area
   %li
      Provvigioni:
      = @company.provvigione
   %li
      Autore:
      = @company.autore
   %li
      Ultimo Aggiornamento:
      = @company.aggiornamento
   %li
      Canale 1:
      = @company.canale_1
   %li
      Canale 2:
      = @company.canale_2
   %li
      Interlocutore:
      = @company.interlocutore
   %li
      Note Operative:
      = @company.note_operative
   %li
      Portale:
      = @company.portale
   %li
      Premio Minimo:
      = @company.premio_minimo
   %li
      Scheda Condizioni:
      = @company.scheda_condizioni
   %li
      Questionari Nostri:
      = @company.questionari
   %li
      Brochure ns o Compagnia:
      = @company.brochure
   %li
      Nota Informativa:
      = @company.nota_informativa
   %li
      Created At:
      = @company.created_at
   %li
      Updated At:
      = @company.updated_at

%div#details_edit
   = link_to 'Edit Company Information', edit_company_path(@company)

%div#details_back
   = link_to 'Back to company list', companies_path(:area_filter => @company.area)  

