-#  This file is app/views/energies/index.html.haml
%h1 All Companies

%table#energies
  %thead
    %tr
      %th Compagnia
      %th Provvigioni
      %th Autore
      %th Ultimo Aggiornamento
      %th Canale 1
      %th Canale 2
      %th Interlocutore

  %tbody
    - @energies.each do |energy|
      %tr
        -#%td= energy.compagnia
        %td#more_info= link_to "More about #{energy.compagnia}", energy_path(energy)
        -#%td= link_to '#{energy.compagnia}', energy_path(energy)
        %td= energy.provvigione
        %td= energy.autore
        %td= energy.updated_at

= link_to 'Add new company', new_energy_path
