-#!! 5
%html
  %head
    %title knowhow
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css"
    -#= stylesheet_link_tag "http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"
    = stylesheet_link_tag "//cdn.datatables.net/1.10.2/css/jquery.dataTables.css"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"
    = javascript_include_tag "http://code.jquery.com/jquery-1.11.1.min.js"
    = javascript_include_tag "http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"
    = javascript_include_tag "http://cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"
    = javascript_include_tag 'application'
    = csrf_meta_tags
    

  %body
  -# this goes just inside %body:
  - if flash[:notice]
    #notice.message= flash[:notice]
  - elsif flash[:warning]
    #warning.message= flash[:warning]
  -#= tabs
  = yield

  
